* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

.header {
  display: flex;
  background-color: #000;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center; }
  .header .menu {
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center; }
    .header .menu .menu__a {
      text-decoration: none;
      color: #cb0000;
      padding: 5px; }
    .header .menu .submenu {
      list-style: none;
      display: none; }
      .header .menu .submenu .submenu__li {
        color: #cb0000; }
    .header .menu .menu__a:hover {
      border-bottom: solid 2px #cb0000;
      transition: all .1s; }
    .header .menu .menu__li:hover .submenu {
      display: block;
      position: absolute;
      margin-top: 1rem;
      background-color: #000; }

main {
  display: block; }

.section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px; }

.articulo__img {
  width: 400px;
  height: 400px;
  background-size: 100% 100%; }

.img__uno__nike {
  background-image: url(../imagenes/nike-mercurial.jpg); }

.img__dos__nike {
  background-image: url(../imagenes/nike-mercurial-celeste.jpg); }

.img__tres__nike {
  background-image: url(../imagenes/nike-tiempo.png); }

.img__uno__adidas {
  background-image: url(../imagenes/adidas-negros.jpg); }

.img__dos__adidas {
  background-image: url(../imagenes/adidas-predator.jpg); }

.img__tres__adidas {
  background-image: url(../imagenes/adidas-speedflow.jpg); }

.articulo:hover {
  transform: scale(1.07);
  border: solid #aeaeae 2px;
  transition: all .2s ease-in-out; }

.main__contacto {
  flex-direction: column;
  align-items: center; }

.formulario {
  width: 700px;
  margin: 50px; }

.section__contacto {
  margin: 1em; }

p {
  font-size: 1.4em; }
