*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}

.header{
    display: flex;
    background-color: black;
    height: 64px;
    align-items: center;
    justify-content: center;
}


.menu{
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center;
}

.menu__a{
    text-decoration: none;
    color: rgb(216, 0, 0);
    padding: 5px;
}

.menu__a:hover{
    border-bottom: solid 2px rgb(216, 0, 0);
    transition: all .1s;
}

.submenu{
    list-style: none;
    display: none;
}

.submenu__li{
    color: rgb(216, 0, 0); 
}


.menu__li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camiseta__river{
    background-image: url(../imagenes/camiseta-river.jpg);
    background-size: 100% 100%;
    width: 65em;
    height: 35em;
    margin-top: 10px;
}

.muestra{
    display: flex;
}

.muestra__botinnike{
    background-image: url(../imagenes/botin-nike.jpg);
    background-size: 100% 120%;
    width: 27em;
    height: 25em;
    margin: 10px;
}

.muestra__botinpuma{
    background-image: url(../imagenes/botin-puma.jpg);
    background-size: 100% 100%;
    width: 27em;
    height: 25em;
    margin: 10px;
}


footer{
    position: relative;
    bottom: 0%;
    width: 100vw;
    background-color: rgb(203, 0, 0);
}


.div-icono {
    display: inline;
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.icono{
    width: 18px;
    height: 18px;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}

.p-footer{
    text-align: center;
}

/*------------------------------- SECCION BOTINES --------------------------------   */

main{
    display: block;
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin:40px ;
    justify-content: center;
}

.articulo__img{
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
}

.img__uno__nike{
    background-image: url(../imagenes/nike-mercurial.jpg);
}

.img__dos__nike{
    background-image: url(../imagenes/nike-mercurial-celeste.jpg);
}

.img__tres__nike{
    background-image: url(../imagenes/nike-tiempo.png);
}

.img__uno__adidas{
    background-image: url(../imagenes/adidas-negros.jpg);
}

.img__dos__adidas{
    background-image: url(../imagenes/adidas-predator.jpg);
}

.img__tres__adidas{
    background-image: url(../imagenes/adidas-speedflow.jpg);
}

.articulo:hover{
    transform: scale(1.07);
    border: solid rgb(174, 174, 174) 2px;
    transition: all .2s ease-in-out;
}

/* ------------------------------SECCION INDUMENTARIA--------------------------------- */


.remera__nike{
    background-image: url(../imagenes/remera-nike.jpg);
}

.buzo__nike{
    background-image: url(../imagenes/buzo-nike.png);
}

.short__nike{
    background-image: url(../imagenes/short-nike.png);
}

/*  ----------------------SECCION OFERTAS  ------------------------------------------- */

.conjunto__nike{
    background-image: url(../imagenes/conjunto-nike.png);
}

.calza__nike{
    background-image: url(../imagenes/calza-nike.png);
}

.zapatilla__nike{
    background-image: url(../imagenes/zapatilla-nike.png);
}

/* -----------------------------SECCION CONTACTO------------------------------ */

.main__contacto{
    flex-direction: column;
    align-items: center;
}

.formulario{
    width: 700px;
    margin: 50px;
}

.section__contacto{
    margin: 1em ;
}

@media screen and (max-width:715px) {
    .header{
        flex-direction: column;
        height: auto;
    }
    nav{
        margin: 10px;
    }
    .redes{
        text-align: center;
    }
}

@media screen and (max-width:621px) {
    .menu{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

}

