img{
    width: 100%;
    height: 100%;
}

.section__grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(11,1fr);
    gap: 15px;
    margin: 17px;
}

.img__uno{
    grid-row: 1/6;
    grid-column: 2/12;
}

.img__dos{
    grid-row: 7/11;
    grid-column: 1/7;
}

.img__tres{
    grid-row: 7/11;
    grid-column: 7/13;
}

img:hover{
    transform: scale(1.05);
    border: solid rgb(174, 174, 174) 2px;
    transition: all .2s ease-in-out;
}