


.header{
    display: flex;
    background-color: $primary ;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
    .picture__logo{
        padding-right: 1.5em;
    }
    .menu{
        display: flex;
        list-style: none;
        gap: 40px;
        text-align: center;
        .menu__a{
            text-decoration: none;
            color: $secundary;
            padding: 5px;
        }
        .submenu{
            list-style: none;
            display: none;
            &__li{
                color: $secundary;
            }
            .submenu__li:hover{
                border-bottom: solid 1px $secundary;
            }
            &__a{
                color: $secundary;
                text-decoration: none;
            }
        }
        .menu__a:hover{
            transition: all .1s;
            border-bottom: solid 2px $secundary;
        }
        .menu__li:hover .submenu{
            display: block;
            position: absolute;
            padding-top: 1rem;
            background-color: $primary;
        }
    }
}

