.main__contacto{
    flex-direction: column;
    text-align: center;

}

.formulario{ 
    margin: 50px;
}

.section__contacto{
    margin: 1em ;
}

p{
    font-size: map-get($fuentes, text-small );
}

@media screen and(max-width:640px){
    p{
        font-size: map-get($fuentes, text-xxs );
    }
}