main{
    display: block;
}

.section {
    @include flex (null, center, null);
    flex-wrap: wrap;
    gap: 30px;
    margin:40px ;
    text-align: center;
}

.articulo__img{
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
}

.remera__nike{
    background-image: url(../imagenes/remera-nike.jpg);
}

.buzo__nike{
    background-image: url(../imagenes/buzo-nike.png);
}

.short__nike{
    background-image: url(../imagenes/short-nike.png);
}

.camiseta__arg{
    background-image: url(../imagenes/camiseta-arg.jpg);
}

.termica__adidas{
    background-image: url(../imagenes/termica-adidas.jpg);
}

.media__adidas{
    background-image: url(../imagenes/medias-adidas.jpg);
} 

.articulo:hover{
    transform: scale(1.07);
    border: solid $alternative 2px;
    transition: all .2s ease-in-out;
} 