.conjunto__nike{
    background-image: url(../imagenes/conjunto-nike.png);
}

.calza__nike{
    background-image: url(../imagenes/calza-nike.png);
}

.zapatilla__nike{
    background-image: url(../imagenes/zapatilla-nike.png);
}

.conjunto__puma{
    background-image: url(../imagenes/conjunto-puma.jpg);
}

.campera__adidas__b{
    background-image: url(../imagenes/campera-adidas-blanca.jpg);
}

.campera__adidas{
    background-image: url(../imagenes/campera-adidas.jpg);
}